<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>org.loc-suite.manager.help</string>
	<key>CFBundleName</key>
	<string>Localization Manager</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>HPDBookAccessPath</key>
	<string>index.html</string>
	<key>HPDBookIndexPath</key>
	<string>Manager.helpindex</string>
	<key>HPDBookKBURL</key>
	<string>http://www.loc-suite.org</string>
	<key>HPDBookTitle</key>
	<string>Localization Manager Help</string>
	<key>HPDBookType</key>
	<string>3</string>
	<key>HPDBookIconPath</key>
	<string>shrd/manager.png</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
</dict>
</plist>
