<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>af</key>
	<array>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>‚</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
	</array>
	<key>ar</key>
	<array>
		<dict>
			<key>begin</key>
			<string>«</string>
			<key>end</key>
			<string>»</string>
			<key>sndBegin</key>
			<string>‹</string>
			<key>sndEnd</key>
			<string>›</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>‘</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
	</array>
	<key>be</key>
	<array>
		<dict>
			<key>begin</key>
			<string>«</string>
			<key>end</key>
			<string>»</string>
			<key>sndBegin</key>
			<string>„</string>
			<key>sndEnd</key>
			<string>“</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>“</string>
			<key>sndBegin</key>
			<string>„</string>
			<key>sndEnd</key>
			<string>“</string>
		</dict>
	</array>
	<key>bg</key>
	<array>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>“</string>
			<key>sndBegin</key>
			<string>‚</string>
			<key>sndEnd</key>
			<string>‘</string>
		</dict>
	</array>
	<key>cs</key>
	<array>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>“</string>
			<key>sndBegin</key>
			<string>‚</string>
			<key>sndEnd</key>
			<string>‘</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>»</string>
			<key>end</key>
			<string>«</string>
			<key>sndBegin</key>
			<string>›</string>
			<key>sndEnd</key>
			<string>‹</string>
		</dict>
	</array>
	<key>da</key>
	<array>
		<dict>
			<key>begin</key>
			<string>»</string>
			<key>end</key>
			<string>«</string>
			<key>sndBegin</key>
			<string>›</string>
			<key>sndEnd</key>
			<string>‹</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>‘</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
	</array>
	<key>de</key>
	<array>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>“</string>
			<key>sndBegin</key>
			<string>‚</string>
			<key>sndEnd</key>
			<string>‘</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>»</string>
			<key>end</key>
			<string>«</string>
			<key>sndBegin</key>
			<string>›</string>
			<key>sndEnd</key>
			<string>‹</string>
		</dict>
	</array>
	<key>el</key>
	<array>
		<dict>
			<key>begin</key>
			<string>«</string>
			<key>end</key>
			<string>»</string>
			<key>sndBegin</key>
			<string>‹</string>
			<key>sndEnd</key>
			<string>›</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>„</string>
			<key>sndBegin</key>
			<string>‘</string>
			<key>sndEnd</key>
			<string>‚</string>
		</dict>
	</array>
	<key>en</key>
	<array>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>‘</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>‘</string>
			<key>end</key>
			<string>’</string>
			<key>sndBegin</key>
			<string>“</string>
			<key>sndEnd</key>
			<string>”</string>
		</dict>
	</array>
	<key>eo</key>
	<array>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>“</string>
			<key>sndEnd</key>
			<string>”</string>
		</dict>
	</array>
	<key>es</key>
	<array>
		<dict>
			<key>begin</key>
			<string>«</string>
			<key>end</key>
			<string>»</string>
			<key>sndBegin</key>
			<string>‹</string>
			<key>sndEnd</key>
			<string>›</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>‘</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
	</array>
	<key>et</key>
	<array>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>„</string>
			<key>sndEnd</key>
			<string>”</string>
		</dict>
	</array>
	<key>fi</key>
	<array>
		<dict>
			<key>begin</key>
			<string>”</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>’</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>»</string>
			<key>end</key>
			<string>»</string>
			<key>sndBegin</key>
			<string>›</string>
			<key>sndEnd</key>
			<string>›</string>
		</dict>
	</array>
	<key>fr</key>
	<array>
		<dict>
			<key>begin</key>
			<string>«</string>
			<key>end</key>
			<string>»</string>
			<key>sndBegin</key>
			<string>‹</string>
			<key>sndEnd</key>
			<string>›</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>‘</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
	</array>
	<key>ga</key>
	<array>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>‘</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
	</array>
	<key>he</key>
	<array>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>«</string>
			<key>sndEnd</key>
			<string>»</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>„</string>
			<key>sndBegin</key>
			<string>“</string>
			<key>sndEnd</key>
			<string>„</string>
		</dict>
	</array>
	<key>hr</key>
	<array>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>„</string>
			<key>sndEnd</key>
			<string>”</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>»</string>
			<key>end</key>
			<string>«</string>
			<key>sndBegin</key>
			<string>›</string>
			<key>sndEnd</key>
			<string>‹</string>
		</dict>
	</array>
	<key>hu</key>
	<array>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>„</string>
			<key>sndEnd</key>
			<string>”</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>»</string>
			<key>end</key>
			<string>«</string>
			<key>sndBegin</key>
			<string>»</string>
			<key>sndEnd</key>
			<string>«</string>
		</dict>
	</array>
	<key>is</key>
	<array>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>“</string>
			<key>sndBegin</key>
			<string>‚</string>
			<key>sndEnd</key>
			<string>‘</string>
		</dict>
	</array>
	<key>it</key>
	<array>
		<dict>
			<key>begin</key>
			<string>«</string>
			<key>end</key>
			<string>»</string>
			<key>sndBegin</key>
			<string>«</string>
			<key>sndEnd</key>
			<string>»</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>‘</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
	</array>
	<key>ja</key>
	<array>
		<dict>
			<key>begin</key>
			<string>「</string>
			<key>end</key>
			<string>」</string>
			<key>sndBegin</key>
			<string>『</string>
			<key>sndEnd</key>
			<string>』</string>
		</dict>
	</array>
	<key>kl</key>
	<array/>
	<key>ko</key>
	<array>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>‘</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
	</array>
	<key>lt</key>
	<array>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>“</string>
			<key>sndBegin</key>
			<string>‚</string>
			<key>sndEnd</key>
			<string>‘</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>"</string>
			<key>end</key>
			<string>"</string>
			<key>sndBegin</key>
			<string>'</string>
			<key>sndEnd</key>
			<string>'</string>
		</dict>
	</array>
	<key>lv</key>
	<array>
		<dict>
			<key>begin</key>
			<string>”</string>
			<key>end</key>
			<string>“</string>
			<key>sndBegin</key>
			<string>”</string>
			<key>sndEnd</key>
			<string>“</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>"</string>
			<key>end</key>
			<string>"</string>
			<key>sndBegin</key>
			<string>"</string>
			<key>sndEnd</key>
			<string>"</string>
		</dict>
	</array>
	<key>nb</key>
	<array>
		<dict>
			<key>begin</key>
			<string>«</string>
			<key>end</key>
			<string>»</string>
			<key>sndBegin</key>
			<string>«</string>
			<key>sndEnd</key>
			<string>»</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>“</string>
			<key>sndEnd</key>
			<string>”</string>
		</dict>
	</array>
	<key>nl</key>
	<array>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>‚</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>’</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
	</array>
	<key>nn</key>
	<array>
		<dict>
			<key>begin</key>
			<string>«</string>
			<key>end</key>
			<string>»</string>
			<key>sndBegin</key>
			<string>«</string>
			<key>sndEnd</key>
			<string>»</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>“</string>
			<key>sndEnd</key>
			<string>”</string>
		</dict>
	</array>
	<key>no</key>
	<array>
		<dict>
			<key>begin</key>
			<string>«</string>
			<key>end</key>
			<string>»</string>
			<key>sndBegin</key>
			<string>«</string>
			<key>sndEnd</key>
			<string>»</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>“</string>
			<key>sndEnd</key>
			<string>”</string>
		</dict>
	</array>
	<key>pl</key>
	<array>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>«</string>
			<key>sndEnd</key>
			<string>»</string>
		</dict>
	</array>
	<key>pt</key>
	<array>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>‘</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>«</string>
			<key>end</key>
			<string>»</string>
			<key>sndBegin</key>
			<string>‹</string>
			<key>sndEnd</key>
			<string>›</string>
		</dict>
	</array>
	<key>ro</key>
	<array>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>‚</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>«</string>
			<key>end</key>
			<string>»</string>
			<key>sndBegin</key>
			<string>‹</string>
			<key>sndEnd</key>
			<string>›</string>
		</dict>
	</array>
	<key>ru</key>
	<array>
		<dict>
			<key>begin</key>
			<string>«</string>
			<key>end</key>
			<string>»</string>
			<key>sndBegin</key>
			<string>„</string>
			<key>sndEnd</key>
			<string>“</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>“</string>
			<key>sndBegin</key>
			<string>„</string>
			<key>sndEnd</key>
			<string>“</string>
		</dict>
	</array>
	<key>sk</key>
	<array>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>“</string>
			<key>sndBegin</key>
			<string>‚</string>
			<key>sndEnd</key>
			<string>‘</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>»</string>
			<key>end</key>
			<string>«</string>
			<key>sndBegin</key>
			<string>›</string>
			<key>sndEnd</key>
			<string>‹</string>
		</dict>
	</array>
	<key>sl</key>
	<array>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>“</string>
			<key>sndBegin</key>
			<string>‚</string>
			<key>sndEnd</key>
			<string>‘</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>»</string>
			<key>end</key>
			<string>«</string>
			<key>sndBegin</key>
			<string>›</string>
			<key>sndEnd</key>
			<string>‹</string>
		</dict>
	</array>
	<key>sq</key>
	<array>
		<dict>
			<key>begin</key>
			<string>«</string>
			<key>end</key>
			<string>»</string>
			<key>sndBegin</key>
			<string>‹</string>
			<key>sndEnd</key>
			<string>›</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>„</string>
			<key>sndBegin</key>
			<string>‘</string>
			<key>sndEnd</key>
			<string>‚</string>
		</dict>
	</array>
	<key>sr</key>
	<array>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>“</string>
			<key>sndBegin</key>
			<string>‚</string>
			<key>sndEnd</key>
			<string>‘</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>»</string>
			<key>end</key>
			<string>«</string>
			<key>sndBegin</key>
			<string>›</string>
			<key>sndEnd</key>
			<string>‹</string>
		</dict>
	</array>
	<key>sv</key>
	<array>
		<dict>
			<key>begin</key>
			<string>”</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>’</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>»</string>
			<key>end</key>
			<string>»</string>
			<key>sndBegin</key>
			<string>›</string>
			<key>sndEnd</key>
			<string>›</string>
		</dict>
	</array>
	<key>tr</key>
	<array>
		<dict>
			<key>begin</key>
			<string>«</string>
			<key>end</key>
			<string>»</string>
			<key>sndBegin</key>
			<string>‹</string>
			<key>sndEnd</key>
			<string>›</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>‘</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
	</array>
	<key>uk</key>
	<array>
		<dict>
			<key>begin</key>
			<string>«</string>
			<key>end</key>
			<string>»</string>
			<key>sndBegin</key>
			<string>„</string>
			<key>sndEnd</key>
			<string>“</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>„</string>
			<key>end</key>
			<string>“</string>
			<key>sndBegin</key>
			<string>„</string>
			<key>sndEnd</key>
			<string>“</string>
		</dict>
	</array>
	<key>zh</key>
	<array>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>‘</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
	</array>
	<key>zh_TW</key>
	<array>
		<dict>
			<key>begin</key>
			<string>「</string>
			<key>end</key>
			<string>」</string>
			<key>sndBegin</key>
			<string>『</string>
			<key>sndEnd</key>
			<string>』</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>“</string>
			<key>end</key>
			<string>”</string>
			<key>sndBegin</key>
			<string>‘</string>
			<key>sndEnd</key>
			<string>’</string>
		</dict>
	</array>
</dict>
</plist>
